.main {
  .avatar {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  .main {
    .avatar {
      display: inline;
      position: absolute;
      bottom: 0;
      right: 20%;
    }
  }
}
