.main {
  .avatar {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  .main {
    .avatar {
      display: inline;
      position: absolute;
      bottom: 0;
      right: 20%;
      animation-name: avatarAnimation 3s;
    }
  }

  @keyframes avatarAnimation {
    100% {
      transform: translateY(280%);
    }
  }
}
