// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;

// Design System
//--------------------------------------------------------------------//

// color palette

$darkPurple: #190e35;
$purple: #ae1aed;
$grey: #2e2c48;
$red: #ee3027;
$white: #ffffff;
