.slideIn {
  width: 100%;
  height: 91vh;
  background-color: #13104e;
  // background: radial-gradient(
  //   circle,
  //   rgba(16, 17, 94, 1) 1%,
  //   rgba(25, 14, 53, 1) 100%
  // );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.slideOut {
  width: 100%;
  height: 91vh;
  background: rgb(19, 20, 117);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

@media screen and (min-width: 780px) {
  .slideIn {
    width: 100%;
    height: 100vh;
    background-color: #13104e;
    // background: radial-gradient(
    //   circle,
    //   rgba(16, 17, 94, 1) 1%,
    //   rgba(25, 14, 53, 1) 100%
    // );
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
  }

  .slideOut {
    width: 100%;
    height: 100vh;
    background: rgb(16, 17, 94);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }
}
